<html>
    <head><title>complaint id</title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style lang="text/css">

*{
	margin: 0;
	padding: 0;
	
}

.home{
	background: linear-gradient(rgba(0,0,0,0.5),#009688), url(../images/home_image1.PNG);
	background-size: cover;
	background-position: center;
	height: 150vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 1;
	
	
}
.logo{
		width:140px;
		position: absolute;
		top: 2%;
		left: 3%;
	
}

@media screen and (max-width: 770px)
{
	.form-box
	{
		display: block;
	}
	#btn
	{
}

.back
{ 
 
 
 top: 100px;
left: 222px;
    	
}

span{
	color: #fff;
	font-size: 45px;
	top: 40px;
	left: 222px;
	position: absolute;
	
}


</style>
    
    
    </head>
    <body>
     <section id="home">
        
    <img src="../images/usm_image1.JPG" class="logo">
	<span> Urban Sanitary Maintainance</span>

	<div style="text-align:right;"  class="back"><h3><a href="services" style="color:rgb(192, 238, 102)" > <br><i> <pre>🔙 Back To Services...   </pre></i></a></h3></div>
	
	<br><br><br><br>





    </section>
    </body>
</html>