<html>
<head>
	<title> Urban Sanitary Maintainance </title>
	<link rel="stylesheet" href="css/home.css"> 
	<meta name="viewport" content="width=device-width,initial-scale=1">
      








</head>
<body>

<section id="home">
	
	<img src="images\usm_image1.JPG" class="logo" id="home1">
	<div class="banner-text">
	   <h1>Urban Sanitary Maintainance</h1><br>
	   <p>...An Initiative to Urban Cleaning...</p><br>
	 </div>
	 
	 
	     <div class="menu-bar">
	<ul class="ul_1">
	<li><a href="#"><i class="fa fa-home" ></i> Home </a></li>
	<li><a href="#about"><i class="fa fa-users" ></i>About us</a>
	   <!--   <div class="sub-menu-1">
		      <ul>
			      <li><a href="#">Mission</a></li>
				  <li><a href="#">Vision</a></li>
				  <li><a href="#">Team</a></li>
			  </ul>
		  </div>	  
	</li> -->	
	
	<!--  <li><a href="#"><i class="fa fa-clone" ></i>  Services </a>
	<div class="sub-menu-1">
		      <ul>
			      <li><a href="#">Register a Complaint</a></li>
				  <li><a href="#">Track Your Complaint</a></li>
				  <li><a href="#">Update Complaint</a></li>
			  </ul>
		  </div>
	</li>  -->
	
	<!--<li><a href="#"><i class="fa fa-phone" ></i>  Login </a>-->
	
	
	
	
	
	<li><a href="#FAQ"><i class="fa fa-phone" ></i>  FAQ's</a>
	
	 <!--    <div class="sub-menu-1">
		      <ul>
			      <li><a href="#">301</a></li>
				  <li><a href="#">302</a></li>
				  <li><a href="#">37</a></li>
			  </ul>
		  </div>  -->
	</li>
	
	</ul>
	</div> 
	<center>
	<div class="banner-btn">
		<a href="/login"><span> </span>Login/Register</a>
	</div>	
	</center>
	

</section>
<section id="s2">
 
<p id="about" align="center"><font size="100px" color="#fff"><B><u>About Us</u></B></font></p><br><br><br>
<div class="title-text">
<h2> Urban Sanitary Maintainance System is Online Complaint platform to raise the complaints regarding sanitary issues accross the city.</h2><br><br><br>
</div>
  <div class="service-box">
	<div class="single-service">
		<img src="images\home_image3.jpg">
		<div class="overlay"></div>
		<div class="service-desc">
		   <p>Keep Toilet Clean</p>
		   <hr>
		   <p> cleanliness is the first step of development..</p>
		 </div>
	</div>
	<div class="single-service">
		<img src="images\home_image2.jpg">
		<div class="overlay"></div>
		<div class="service-desc">
		   <p>Keep Toilet Clean</p>
		   <hr>
		   <p> Cleanliness, the first law of health..</p>
		 </div>
    </div>
</div>

<h3><a href="#home1" class="back"><center> <pre> 🔙 Back To Home...</pre> </center></a></h3>

</section>

<section id="s3">
 
<p id="FAQ" align="center"><font size="100px" color="#fff"><B><u>FAQ's</u></B></font></p><br>



<div class="title-text">
 
<ul>
 <li>Q1. How to Register a Complaint ?<br> </li>
 <li> <a href="https://youtu.be/mwLS3z3RZGg"> video for complaint</a> </li>
 
  <li>Q2. How to Track a Complaint ?<br> </li>
 <li> <a href="https://youtu.be/mwLS3z3RZGg"> video for complaint</a> </li>
 
  <li>Q3. How to Delete a Complaint ?<br> </li>
 <li> <a href="https://youtu.be/mwLS3z3RZGg"> video for complaint</a> </li>
 
  <li>Q4. How to Update a Complaint ?<br> </li>
 <li> <a href="https://youtu.be/mwLS3z3RZGg"> video for complaint</a> </li>
</ul


</div>
<h3><a href="#home1" class="back"><pre><center> 🔙 Back To Home...</center></pre> </a></h3>

<section>

</body>
</html>