<html>
<head>
<title> Sign up/ Login </title>
<!--<link rel="stylesheet" href="css/login.css">-->

<meta name="viewport" content="width=device-width,initial-scale=1">
<style lang="text/css">

*{
	margin: 0;
	padding: 0;
	
}
.hero{
	height: 100%;
	width: 100%;
	
	background-position: center;
	background-size: cover;
	position: absolute;
} 


.home{
	background: linear-gradient(rgba(0,0,0,0.5),#009688), url(../images/home_image1.PNG);
	background-size: cover;
	background-position: center;
	height: 150vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 1;
	
	
}
.logo{
		width:140px;
		position: absolute;
		top: 2%;
		left: 3%;
	
}


.form-box{

	width: 380px;
	height: 480px;
	position: center;
	margin: 6% auto;
	background-color: rgb(243, 239, 232);
	padding: 5px;
	opacity:0.75;
	overflow: hidden;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	/*box-shadow: 0 0 20px 9px #009688;*/
	border-radius: 30px;
}
#log1{
	opacity: 2;
	background-color: #2b6b91;
}

.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	/*box-shadow: 0 0 20px 9px #009688;
	background: linear-gradient(rgba(0,0,0,0.5),#009688);*/
	border-radius: 30px;
	transition: .5s;
}
.input-group{
	top: 240px;
	position: absolute;
	width: 280;
	transition: .5s;
}

.input-group1{
	top: 188px;
	position: absolute;
	width: 280;
	transition: .5s;
}

.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}


.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(rgba(0,0,0,0.5),#2b6b91);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box{
	margin: 30px 10px 30px 0;
}
#login3{
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}
#login2{
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}
#login1
{
    color: #fff;
	font-size: 45px;
	top: 40px;
	left: 222px;
	position: absolute;	
}
#login{
	left: 665px;
}
#register{
	left: 2000px;
}

@media screen and (max-width: 770px)
{
	.form-box
	{
		display: block;
	}
	#btn
	{
}

.fa{
	margin-right: 10px;
}
.eye{
	position: absolute;
}
#hide{
	display: none;
}

.back
{ 
 
 
 top: 100px;
left: 222px;
    	
}




.banner-btn
{
	margin: 70px auto 0;
}



</style>
</head>
<body>
	
<section class="home">
	
  <img src="..\images\usm_image1.JPG" class="logo">
  <span id="login1"> Urban Sanitary Maintainance</span> <br><br><br>
  <div style="text-align:right;"  class="back"><h3><a href="/" style="color:rgb(192, 238, 102)" > <br><i><pre>🔙 Back To Home... </pre></i></a></h3></div>
 
  
  <center>
  {{#if message }}
  
	<h2 style="color:rgb(192, 238, 102)"  class="alert alert-danger mt-4">{{message}}</h2>
  {{/if}}
  </center>
 


	<div class="hero">
		<div class="form-box">
			<div class="button-box">
				<div id="btn"></div>
				<button type="button" class="toggle-btn" id="log1"> <b style="color: white;"><u>Log In</u></b> </button>
				<button type="button" class="toggle-btn"><a href="/register">Register </a></button>
			</div>	
			<form id="login" class="input-group" method="POST" action="/auth/login">
				<input type="text" class="input-field" placeholder="Email Id" name="email">
				<input type="password" class="input-field" name="password" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
				
				
			     	
				 
				<div> 
				
				<input type="checkbox" class="check-box"><span id="login2"> Remember Password</span>
				<button type="submit" class="submit-btn" style="color: white"><b>Log in</b></button>
			</form>
			

	



			</div>
       
   


	


	</div>

    


	





</section>
</body>
</html>
